[submodule "third_party/ImNodeFlow"]
	path = third_party/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
	ignore = all
[submodule "third_party/ImGuiFileDialog"]
	path = third_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	ignore = all